
/* Reset */

html, body, div, span, h1, h2, h3, h4, h5, p, ul, ol, li, a, code, pre {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ul, ol {
	list-style: none;
}

/* Defaults */

body {
	font-family: Helvetica, Arial, sans-serif;
	color: #555;
	text-shadow: 0 1px #fff;
}

body, html {
	height: 100%;
}

a {
	text-decoration: none;
	color: #DB3F1A;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5 {
	font-family: Arvo;
}

/* Sticky Footer */

#wrapper {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 50px;
}

#footer {
	position: relative;
	margin-top: -50px;
	height: 50px;
	clear: both;
}

/* Sticky Footer fixes */
body:before {/* thanks to Maleika (Kohoutec)*/
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

/* Homepage */

#business-card {
	text-align: center;
	background: url('../img/paper.gif');
	overflow: hidden;
	position: absolute;
	top: 50%;
	padding: 40px 0;
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	/* This is handled in js
	margin-top: -135px;
	height: 150px;*/
}

#business-card h1 {
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 0.5em;
}

#business-card,
#footer {
	width: 100%;
	min-width: 640px;
}

#business-card h2 {
	font-size: 22px;
	height: 24px;
	line-height: 24px;
	position: relative;
}

#business-card h2 span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 24px;
}

#business-card li {
	display: inline;
	font-size: 18px;
}

.home #navigation {
	margin-top: 40px;
}

.home #navigation a {
	display: inline-block;
	padding: 0.5em 1.5em;
}

#navigation a.current {
	color: inherit;
}

#footer {
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin-top: -50px;
	text-align: center;	
}

#footer a {
	padding: 0 1em;
}

/* Internal Structure */

#header {
	background: url('../img/paper.gif');
	border: 1px solid #ddd;
	margin-bottom: 18px;
}

#header #navigation {
	position: absolute;
	bottom: 0;
	right: 0;
}

#header #navigation li {
	display: inline;
	list-style: none;
}

.page #header-inner,
.page #main {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

/* Content */

.page h1 {
	font-size: 30px;
	margin: 1em 0 0.8em;
	font-weight: bold;
}

.page h2 {
	font-size: 24px;
	margin-bottom: 18px;
	font-weight: bold;	
}

.page h3,
.page h4 {
	font-size: 21px;
	margin-bottom: 18px;
	font-weight: bold;
}

.page p,
.page li {
	font-size: 18px;
	line-height: 1.5em;
	margin-bottom: 1em;
}

.page li {
	list-style: disc;
	margin-left: 1.2em;
}

/* Extra */

.photo {
	float: right;
	margin: 0 0 1em 1em;
	padding: 0.5em;
	border: 1px solid #eee;
	border-bottom-color: #ddd;
}

img {
	display: block;
}
