body, h1, h2, h3, p, ul, ol, li {
	padding: 0;
	margin: 0;
}

ul, ol, li {
	list-style: none;
}

body {
	font-family: 'Quattrocento', serif;
	color: #555;
	text-shadow: 1px 0 #fff;
}

body, html {
	height: 100%;
}

a {
	text-decoration: none;
	color: #DB3F1A;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#business-card {
	text-align: center;
	background: url('../img/noise.gif');
	overflow: hidden;
	position: absolute;
	top: 50%;
	padding: 40px 0;
	border: 1px solid #ddd;
	border-left: none;
	border-right: none;
	/* This is handled in js
	margin-top: -135px;
	height: 150px;
	*/
}

#business-card, #footer {
	width: 100%;
	min-width: 640px;
}

#business-card h1 {
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

#business-card h2 {
	font-size: 22px;
}

#business-card li {
	display: inline;
	font-size: 18px;
}

#navigation {
	margin-top: 40px;
}

#navigation a {
	display: inline-block;
	padding: 0.5em 1.5em;
}

#footer {
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin-top: -30px;
	text-align: center;
	position: absolute;
	top: 100%;
	width: 100%;
}

#footer a {
	padding: 0 0.5em;
}